Source: gpxviewer
Section: misc
Priority: optional
Maintainer: Andrew Gee <andrew@andrewgee.org>
Uploaders: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>
Build-Depends: cdbs, debhelper (>= 5), python-support, python (>= 2.5), python-distutils-extra
Standards-Version: 3.8.4
Homepage: http://andrewgee.org/blog/gpxviewer

Package: gpxviewer
Architecture: all
Depends: ${python:Depends}, python-osmgpsmap, python-gtk2, python-glade2,
  python-gnome2 | xdg-utils, ${misc:Depends}
Description: views GPS traces collected in the GPX format
 This application allows the user to load a GPS trace, in the GPX file format,
 and read it in a presentable way. You are shown a few statistics, such as the
 duration or maximum speed. You are also shown the trace on an openstreetmap
 map, where you can scroll around and zoom.
